.posts
  h2.content-subhead
    | Recipes
  - @recipes.each do |recipe|
	  section.post
	    header.post-header
	      h2.post-title
	        == link_to recipe.title, "/recipe/#{recipe.id}"
	      p.post-meta
	        |  By 
	        a.post-author[href="#"]
	          = get_chef(recipe)
	    .post-description
        .post-images.pure-g
          .pure-u-1.pure-u-md-1-2
            img alt="#{recipe.title}" class="pure-img-responsive" src="#{recipe.photo.url}"
	      