doctype html
html
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[name="description" content="Marley Spoon Web Challenge."]
    title
      | Marley Spoon Web Challenge
    link[rel="stylesheet" type="text/css" href="/stylesheets/pure.css"]
    link[rel="stylesheet" type="text/css" href="/stylesheets/grid.css"]
    link[rel="stylesheet" type="text/css" href="/stylesheets/main.css"]



  body
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        .header
          h1.brand-title
            == link_to "Marley Spoon", "/"
          h2.brand-tagline
            | Web Challenge
          
      .content.pure-u-1.pure-u-md-3-4
        div
          == yield
