
.posts
  section.post
    header.post-header
      h2.post-title
        = @recipe.title
      p.post-meta
        |  By 
        a.post-author[href="#"]
          = get_chef(@recipe)
        |&nbsp;tags 
        == get_tags(@recipe)
    .post-description
      .post-images.pure-g
        .pure-u-1.pure-u-md-1-2
          img alt="#{@recipe.title}" class="pure-img-responsive" src="#{@recipe.photo.url}"
      == description_html(@recipe)
	      
